# single parameter NODE gcc accessor list
# MACRO(NODE) ⏎ c type, py type
# (https://docs.python.org/3/c-api/arg.html#building-values)
#
# CONSTRUCTOR_NON_CONST(EXPR)
# C_ARRAY_PARAMETER(NODE)
# C_BOOLEAN_TYPE_P(TYPE)
# C_DECL_BUILTIN_PROTOTYPE(EXP)
# C_DECL_COMPOUND_LITERAL_P(DECL)
# C_DECL_DECLARED_BUILTIN(EXP)
# C_DECL_DECLARED_CONSTEXPR(DECL)
# C_DECL_IMPLICIT(EXP)
# C_DECL_ISNT_PROTOTYPE(EXP)
# C_DECL_REGISTER(EXP)
# C_DECL_THREADPRIVATE_P(DECL)
# C_DECL_UNDERSPECIFIED(DECL)
# C_DECL_USED(EXP)
# C_DECL_VARIABLE_SIZE(TYPE)
# C_FUNCTION_IMPLICIT_INT(EXP)
# C_IS_RESERVED_WORD(ID)
# C_TYPEDEF_EXPLICITLY_SIGNED(EXP)
# C_TYPE_BEING_DEFINED(TYPE)
# C_TYPE_DEFINED_IN_STRUCT(TYPE)
# C_TYPE_FIELDS_NON_CONSTEXPR(TYPE)
# C_TYPE_FIELDS_READONLY(TYPE)
# C_TYPE_FIELDS_VOLATILE(TYPE)
# C_TYPE_INCOMPLETE_VARS(TYPE)
# C_TYPE_VARIABLE_SIZE(TYPE)
# C_TYPE_VARIABLY_MODIFIED(TYPE)
# SAVE_EXPR_FOLDED_P(EXP)
# TYPE_ACTUAL_ARG_TYPES(NODE)
#   
# ['alias_set_type'] c_get_alias_set ['tree']
# ['bool'] c_check_in_current_scope ['tree']
# ['bool'] c_check_switch_jump_warnings ['struct c_spot_bindings *', 'location_t', 'location_t']
# ['bool'] c_in_omp_for []
# ['bool'] c_keyword_starts_typename ['enum rid keyword']
# ['bool'] c_mark_addressable ['tree', 'bool = false']
# ['bool'] c_missing_noreturn_ok_p ['tree']
# ['bool'] c_objc_common_init ['void']
# ['bool'] c_tree_equal ['tree', 'tree']
# ['bool'] c_var_mod_p ['tree x', 'tree fn']
# ['bool'] c_warn_unused_global_decl ['const_tree']
# ['bool'] char_type_p ['tree']
# ['bool'] global_bindings_p ['void']
# ['bool'] null_pointer_constant_p ['const_tree']
# ['bool'] pedwarn_c11 ['location_t', 'int opt', 'const char *', '...']
# ['bool'] pedwarn_c90 ['location_t', 'int opt', 'const char *', '...']
# ['bool'] pedwarn_c99 ['location_t', 'int opt', 'const char *', '...']
# ['bool'] same_translation_unit_p ['const_tree', 'const_tree']
# ['bool'] start_function ['struct c_declspecs *', 'struct c_declarator *', 'tree']
# ['bool'] switch_statement_break_seen_p []
# ['bool'] tag_exists_p ['enum tree_code', 'tree']
# ['const', 'char', '*'] c_get_sarif_source_language ['const char *filename']
# ['int'] c_types_compatible_p ['tree', 'tree']
# ['int'] comptypes ['tree', 'tree']
# ['int'] comptypes_check_different_types ['tree', 'tree', 'bool *']
# ['int'] comptypes_check_enum_int ['tree', 'tree', 'bool *']
# ['int'] current_function_returns_abnormally []
# ['int'] current_function_returns_null []
# ['int'] current_function_returns_value []
# ['int'] in_alignof []
# ['int'] in_sizeof []
# ['int'] in_typeof []
# ['int'] quals_from_declspecs ['const struct c_declspecs *']
# ['location_t'] c_last_sizeof_loc []
# ['struct', 'c_arg_info', '*'] build_arg_info ['void']
# ['struct', 'c_arg_info', '*'] get_parm_info ['bool', 'tree']
# ['struct', 'c_declarator', '*'] build_array_declarator ['location_t', 'tree', 'struct c_declspecs *', 'bool', 'bool']
# ['struct', 'c_declarator', '*'] build_attrs_declarator ['tree', 'struct c_declarator *']
# ['struct', 'c_declarator', '*'] build_function_declarator ['struct c_arg_info *', 'struct c_declarator *']
# ['struct', 'c_declarator', '*'] build_id_declarator ['tree']
# ['struct', 'c_declarator', '*'] make_pointer_declarator ['struct c_declspecs *', 'struct c_declarator *']
# ['struct', 'c_declarator', '*'] set_array_declarator_inner ['struct c_declarator *', 'struct c_declarator *']
# ['struct', 'c_declspecs', '*'] build_null_declspecs ['void']
# ['struct', 'c_declspecs', '*'] declspecs_add_addrspace ['location_t', 'struct c_declspecs *', 'addr_space_t']
# ['struct', 'c_declspecs', '*'] declspecs_add_alignas ['location_t', 'struct c_declspecs *', 'tree']
# ['struct', 'c_declspecs', '*'] declspecs_add_attrs ['location_t', 'struct c_declspecs *', 'tree']
# ['struct', 'c_declspecs', '*'] declspecs_add_qual ['location_t', 'struct c_declspecs *', 'tree']
# ['struct', 'c_declspecs', '*'] declspecs_add_scspec ['location_t', 'struct c_declspecs *', 'tree']
# ['struct', 'c_declspecs', '*'] declspecs_add_type ['location_t', 'struct c_declspecs *', 'struct c_typespec']
# ['struct', 'c_declspecs', '*'] finish_declspecs ['struct c_declspecs *']
# ['struct', 'c_expr'] c_expr_sizeof_expr ['location_t', 'struct c_expr']
# ['struct', 'c_expr'] c_expr_sizeof_type ['location_t', 'struct c_type_name *']
# ['struct', 'c_expr'] convert_lvalue_to_rvalue ['location_t', 'struct c_expr', 'bool', 'bool', 'bool = false']
# ['struct', 'c_expr'] default_function_array_conversion ['location_t', 'struct c_expr']
# ['struct', 'c_expr'] default_function_array_read_conversion ['location_t', 'struct c_expr']
# ['struct', 'c_expr'] parser_build_binary_op ['location_t', 'enum tree_code', 'struct c_expr', 'struct c_expr']
# ['struct', 'c_expr'] parser_build_unary_op ['location_t', 'enum tree_code', 'struct c_expr']
# ['struct', 'c_expr'] pop_init_level ['location_t', 'int', 'struct obstack *', 'location_t']
# ['struct', 'c_parm', '*'] build_c_parm ['struct c_declspecs *', 'tree', 'struct c_declarator *', 'location_t']
# ['struct', 'c_spot_bindings', '*'] c_get_switch_bindings ['void']
# ['struct', 'c_switch', '*'] c_switch_stack []
# ['struct', 'c_typespec'] parser_xref_tag ['location_t', 'enum tree_code', 'tree', 'bool', 'tree', 'bool']
# ['struct', 'obstack'] parser_obstack []
# ['tree'] build_array_ref ['location_t', 'tree', 'tree']
# ['tree'] build_asm_expr ['location_t', 'tree', 'tree', 'tree', 'tree', 'tree', 'bool', 'bool']
# ['tree'] build_asm_stmt ['bool', 'tree']
# ['tree'] build_c_cast ['location_t', 'tree', 'tree']
# ['tree'] build_component_ref ['location_t', 'tree', 'tree', 'location_t', 'location_t']
# ['tree'] build_compound_expr ['location_t', 'tree', 'tree']
# ['tree'] build_compound_literal ['location_t', 'tree', 'tree', 'bool', 'unsigned int', 'struct c_declspecs *']
# ['tree'] build_conditional_expr ['location_t', 'tree', 'bool', 'tree', 'tree', 'location_t', 'tree', 'tree', 'location_t']
# ['tree'] build_enumerator ['location_t', 'location_t', 'struct c_enum_contents *', 'tree', 'tree']
# ['tree'] build_external_ref ['location_t', 'tree', 'bool', 'tree *']
# ['tree'] c_begin_compound_stmt ['bool']
# ['tree'] c_begin_omp_parallel ['void']
# ['tree'] c_begin_omp_task ['void']
# ['tree'] c_begin_stmt_expr ['void']
# ['tree'] c_build_function_call_vec ['location_t', 'const vec<location_t>&', 'tree', 'vec<tree', 'va_gc> *', 'vec<tree', 'va_gc> *']
# ['tree'] c_build_va_arg ['location_t', 'tree', 'location_t', 'tree']
# ['tree'] c_builtin_function ['tree']
# ['tree'] c_builtin_function_ext_scope ['tree']
# ['tree'] c_cast_expr ['location_t', 'struct c_type_name *', 'tree']
# ['tree'] c_check_omp_declare_reduction_r ['tree *', 'int *', 'void *']
# ['tree'] c_end_compound_stmt ['location_t', 'tree', 'bool']
# ['tree'] c_expr_to_decl ['tree', 'bool *', 'bool *']
# ['tree'] c_finish_bc_stmt ['location_t', 'tree', 'bool']
# ['tree'] c_finish_expr_stmt ['location_t', 'tree']
# ['tree'] c_finish_goto_label ['location_t', 'tree']
# ['tree'] c_finish_goto_ptr ['location_t', 'c_expr val']
# ['tree'] c_finish_oacc_data ['location_t', 'tree', 'tree']
# ['tree'] c_finish_oacc_host_data ['location_t', 'tree', 'tree']
# ['tree'] c_finish_omp_clauses ['tree', 'enum c_omp_region_type']
# ['tree'] c_finish_omp_construct ['location_t', 'enum tree_code', 'tree', 'tree']
# ['tree'] c_finish_omp_parallel ['location_t', 'tree', 'tree']
# ['tree'] c_finish_omp_task ['location_t', 'tree', 'tree']
# ['tree'] c_finish_return ['location_t', 'tree', 'tree']
# ['tree'] c_finish_stmt_expr ['location_t', 'tree']
# ['tree'] c_finish_transaction ['location_t', 'tree', 'int']
# ['tree'] c_last_sizeof_arg []
# ['tree'] c_objc_common_truthvalue_conversion ['location_t', 'tree']
# ['tree'] c_omp_clause_copy_ctor ['tree', 'tree', 'tree']
# ['tree'] c_omp_reduction_decl ['tree']
# ['tree'] c_omp_reduction_id ['enum tree_code', 'tree']
# ['tree'] c_omp_reduction_lookup ['tree', 'tree']
# ['tree'] c_process_expr_stmt ['location_t', 'tree']
# ['tree'] c_simulate_builtin_function_decl ['tree']
# ['tree'] c_simulate_enum_decl ['location_t', 'const char *', 'vec<string_int_pair> *']
# ['tree'] c_simulate_record_decl ['location_t', 'const char *', 'array_slice<const tree>']
# ['tree'] c_start_switch ['location_t', 'location_t', 'tree', 'bool']
# ['tree'] c_type_promotes_to ['tree']
# ['tree'] c_warn_type_attributes ['tree']
# ['tree'] check_for_loop_decls ['location_t', 'bool']
# ['tree'] composite_type ['tree', 'tree']
# ['tree'] decl_constant_value_1 ['tree', 'bool']
# ['tree'] declare_label ['tree']
# ['tree'] define_label ['location_t', 'tree']
# ['tree'] finish_enum ['tree', 'tree', 'tree']
# ['tree'] finish_struct ['location_t', 'tree', 'tree', 'tree', 'class c_struct_parse_info *']
# ['tree'] grokfield ['location_t', 'struct c_declarator *', 'struct c_declspecs *', 'tree', 'tree *']
# ['tree'] grokparm ['const struct c_parm *', 'tree *']
# ['tree'] groktypename ['struct c_type_name *', 'tree *', 'bool *']
# ['tree'] implicitly_declare ['location_t', 'tree']
# ['tree'] lookup_label_for_goto ['location_t', 'tree']
# ['tree'] pop_scope ['void']
# ['tree'] pushdecl ['tree']
# ['tree'] require_complete_type ['location_t', 'tree']
# ['tree'] start_decl ['struct c_declarator *', 'struct c_declspecs *', 'bool', 'tree', 'bool = true', 'location_t * = NULL']
# ['tree'] start_enum ['location_t', 'struct c_enum_contents *', 'tree', 'tree']
# ['tree'] start_struct ['location_t', 'enum tree_code', 'tree', 'class c_struct_parse_info **']
# ['tree'] xref_tag ['enum tree_code', 'tree']
# ['unsigned', 'char'] in_statement []
# ['unsigned', 'int'] start_underspecified_init ['location_t', 'tree']
# ['vec<tree>'] incomplete_record_decls []
# ['void'] c_bind ['location_t', 'tree', 'bool']
# ['void'] c_bindings_end_stmt_expr ['struct c_spot_bindings *']
# ['void'] c_bindings_start_stmt_expr ['struct c_spot_bindings *']
# ['void'] c_finish_if_stmt ['location_t', 'tree', 'tree', 'tree']
# ['void'] c_finish_incomplete_decl ['tree']
# ['void'] c_finish_loop ['location_t', 'location_t', 'tree', 'location_t', 'tree', 'tree', 'tree', 'tree', 'bool']
# ['void'] c_finish_omp_cancel ['location_t', 'tree']
# ['void'] c_finish_omp_cancellation_point ['location_t', 'tree']
# ['void'] c_finish_switch ['tree', 'tree']
# ['void'] c_incomplete_type_error ['location_t', 'const_tree', 'const_tree']
# ['void'] c_init_decl_processing ['void']
# ['void'] c_initialize_diagnostics ['diagnostic_context *']
# ['void'] c_parse_init ['void']
# ['void'] c_pop_function_context ['void']
# ['void'] c_print_identifier ['FILE *', 'tree', 'int']
# ['void'] c_push_function_context ['void']
# ['void'] c_pushtag ['location_t', 'tree', 'tree']
# ['void'] c_release_switch_bindings ['struct c_spot_bindings *']
# ['void'] c_warn_unused_attributes ['tree']
# ['void'] check_compound_literal_type ['location_t', 'struct c_type_name *']
# ['void'] declare_parm_level ['void']
# ['void'] finish_decl ['tree', 'location_t', 'tree', 'tree', 'tree']
# ['void'] finish_function ['location_t = input_location']
# ['void'] finish_implicit_inits ['location_t', 'struct obstack *']
# ['void'] finish_init ['void']
# ['void'] finish_underspecified_init ['tree', 'unsigned int']
# ['void'] gen_aux_info_record ['tree', 'int', 'int', 'int']
# ['void'] keep_next_level ['void']
# ['void'] mark_exp_read ['tree']
# ['void'] mark_forward_parm_decls ['void']
# ['void'] maybe_warn_string_init ['location_t', 'tree', 'struct c_expr']
# ['void'] pending_xref_error ['void']
# ['void'] pop_maybe_used ['bool']
# ['void'] process_init_element ['location_t', 'struct c_expr', 'bool', 'struct obstack *']
# ['void'] push_init_level ['location_t', 'int', 'struct obstack *']
# ['void'] push_parm_decl ['const struct c_parm *', 'tree *']
# ['void'] push_scope ['void']
# ['void'] really_start_incremental_init ['tree']
# ['void'] record_inline_static ['location_t', 'tree', 'tree', 'enum c_inline_static_type']
# ['void'] run_c_tests ['void']
# ['void'] set_c_expr_source_range ['c_expr *expr', 'location_t start', 'location_t finish']
# ['void'] set_c_expr_source_range ['c_expr *expr', 'source_range src_range']
# ['void'] set_init_index ['location_t', 'tree', 'tree', 'struct obstack *']
# ['void'] set_init_label ['location_t', 'tree', 'location_t', 'struct obstack *']
# ['void'] shadow_tag ['const struct c_declspecs *']
# ['void'] shadow_tag_warned ['const struct c_declspecs *', 'int']
# ['void'] start_init ['tree', 'tree', 'bool', 'bool', 'rich_location *']
# ['void'] store_init_value ['location_t', 'tree', 'tree', 'tree']
# ['void'] store_parm_decls ['void']
# ['void'] store_parm_decls_from ['struct c_arg_info *']
# ['void'] temp_pop_parm_decls ['void']
# ['void'] temp_store_parm_decls ['tree', 'tree']
# ['void'] undeclared_variable ['location_t', 'tree']
# [] c_binding_oracle []
