 ['void'] debug_tree ['tree']
# ['void'] debug_raw ['const tree_node &ref']
 ['void'] debug_raw ['const tree_node *ptr']
# ['void'] debug ['const tree_node &ref']
 ['void'] debug ['const tree_node *ptr']
# ['void'] debug_verbose ['const tree_node &ref']
# ['void'] debug_verbose ['const tree_node *ptr']
# ['void'] debug_head ['const tree_node &ref']
 ['void'] debug_head ['const tree_node *ptr']
# ['void'] debug_body ['const tree_node &ref']
 ['void'] debug_body ['const tree_node *ptr']
# ['void'] debug ['vec<tree', 'va_gc> &ref']
# ['void'] debug ['vec<tree', 'va_gc> *ptr']
# ['void'] debug_raw ['vec<tree', 'va_gc> &ref']
# ['void'] debug_raw ['vec<tree', 'va_gc> *ptr']
 # ['void'] dump_addr ['FILE*', 'const char *', 'const void *']
 # ['void'] print_node ['FILE *', 'const char *', 'tree', 'int', 'bool brief_for_visited = true']
 # ['void'] print_node_brief ['FILE *', 'const char *', 'const_tree', 'int']
 # ['void'] indent_to ['FILE *', 'int']
 ['void'] print_decl_identifier ['FILE *', 'tree', 'int flags']
